.dart_tool/
.packages
.build/
build/
.tools/
.flutter_config/
.local_appdata/
.pub-cache/
.flutter-plugins-dependencies
android/.kotlin/
.netlify/
.idea/
.vscode/
*.iml
.env
.env.*
!.env.example
*.jks
*.keystore
key.properties
